.home-icon{
  height: 24px;
  margin-bottom: 6.5px;
}

.icon-text{
  font-size: 10px;
}

.side-box{
  height: 72px;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  
}

.side-box:hover{
  background-color: rgb(236, 236, 236);
}

.sidebar{
  background-color: white;
  position: fixed;
  left: 0;
  top: 62px;
  bottom: 0;
  width: 80px;
  z-index: 100;

}